.planning {
    background-color: #3a87ad !important;
    color:#fff;
}
.doing {
    background-color: #8d3f75 !important;
    color:#fff;
}
.complete {
    background-color: #408d3f !important;
    color:#fff;
}